.checkout-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #efefef;
  flex-wrap: wrap;
  font-family: 'Arial', sans-serif;
}

.checkout-left,
.checkout-right {
  background-color: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.checkout-left {
  flex: 2;
  min-width: 300px;
  max-height: fit-content;
}

.checkout-right {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: fit-content;
  position: sticky;
  top: 20px;
}

.checkout-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.checkout-section {
  margin-bottom: 1.5rem;
  background-color: #f8c5cb;
  border-radius: 12px;
  padding: 1rem;
}

.delivery-section,
.recipient-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.recipient-section {
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
}

.recipient-section h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #333;
}

.recipient-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
}

.recipient-section input {
  width: 90%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

.recipient-section input:focus {
  border-color: #ffa78f;
  box-shadow: 0 0 0 2px rgba(255, 167, 143, 0.3);
}


.basket-section {
  background-color: transparent;
  padding: 0;
}

.checkout-summary {
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.checkout-items {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.checkout-total-label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.checkout-total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.checkout-submit-btn {
  background-color: #ffa78f;
  color: black;
  font-weight: 600;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-submit-btn:hover:not(:disabled) {
  background-color: #ff8c6f;
}

.checkout-submit-btn:disabled {
  background-color: #ffd2c7;
  cursor: not-allowed;
}

.checkout-agreement {
  font-size: 0.75rem;
  color: #555;
  margin-top: 1rem;
  text-align: center;
}
