.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ececec;
    font-family: Arial, sans-serif;
  }
  
  .login-box {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    text-align: left;
  }
  
  .login-box h2 {
    text-align: center;
    font-size: xx-large;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  /* Общие стили для всех полей ввода */
  .login-box input[type="email"],
  .login-box input[type="text"] {
    width: 92%;
    padding: 16px;
    font-size: 24px;
    border: none;
    border-radius: 6px;
    background-color: #f2f2f2;
    margin-bottom: 16px;
  }
  

  .login-box button {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    background-color: #fbbdc8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
  }
  
  .login-box button:hover {
    background-color: #f9a4b2;
  }
  
  .agreement {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #444;
  }
  
  .agreement input {
    margin-right: 6px;
  }
  
  /* Стиль для сообщения о коде */
  .code-message {
    text-align: center;
    margin: -10px 0 25px 0; 
    color: #666;
    font-size: 16px; 
    line-height: 1.4;
  }
  
  /* Стиль для кнопки "Запросить повторно" */
  .resend-code {
    text-align: center;
    margin: 5px  5px ;
    color: #000000;
    cursor: pointer;
    font-size: 16px; 
  }
  
  .resend-code:hover {
    color: #555;
    text-decoration: underline;
  }
  
  /* Валидация email */
  .input-error {
    border: 1px solid red !important;
  }
  
  .error-text {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }